body{
    background-color: antiquewhite;
}
    h1{
    color: brown;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
}
p{
font-size: small;
color: black;
background-color: azure;
}
img{
    width: 50%;
    length:50%;
}
.first{
    width:100px;
    length:100px;
    background-color: white;
    padding: 20px solid green;
    border: 10px solid blue;
    margin: 60px solid yellow;
}
.second{
    background-color: aliceblue;
    border-top: 20px solid orange;
    border-right:20px solid green;
    border-bottom:20px solid purple;
    border-left:20px solid pink;
}
